grant codeBase "file:${user.home}/git/MequieChat/-"{
	permission java.net.SocketPermission "*:1024-", "connect,resolve";
	permission java.io.FilePermission "Data/-","write";
	permission java.io.FilePermission "./*","read";
	// permission java.security.AllPermission;
};