grant codeBase "file:${user.home}/SC/MequieChat/-"{  // codeBase "file:${user.home}/pasta/MequieChat/-"
	permission java.net.SocketPermission "127.0.0.1:1024-", "listen,accept,resolve";
	permission java.io.FilePermission "Data/-","read,write,delete";
	// permission java.security.AllPermission;
};